# this script file path
SCRIPT_DIRPATH='/var/data/db_daily_backup'

# mysql conf file path written username and password
MYSQLCONF_FILEPATH='/root/.my.cnf'

# backup target database names
DB_LIST=('sampl_db_name')

# backup period: days
BACKUP_PERIOD=3
